<html th:replace="~{base :: layout (~{:: main})}">
<body>
	<main>
		<script type="text/javascript" class="init">
			$(document).ready(function(){
                $('#date').mask('00/00/0000');
                $('#hour').mask('00:00');
            });
		</script>
		<p class="lead">Cadastro de Escala</p>
		<form action="#" th:action="@{/escala/addescala}" th:object="${escala}" method="post">
			<div class="form-group">
				<label for="status">Escolha um culto para criar a escala</label>
				<select class="form-control" th:field="*{idCulto}">
					<option
							th:each="worship : ${cultos}"
							th:value="${worship.id}"
							th:text="|${worship.date} ${worship.hour}|">
					</option>
				</select>
			</div>
			<br>
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Adicionar Escala">
				<a class="btn btn-danger" th:href="@{/escala/index}">Voltar</a>
			</div>

		</form>
	</main>
</body>
</html>