<html th:replace="~{base :: layout (~{:: main})}">
<body>
	<main>
		<script type="text/javascript" class="init">
			$(document).ready(function(){
                $('#Kids').DataTable();
                $('#phone').mask('(00) 00000-0000');
                $('#date').mask('00/00/0000');
                $('#hour').mask('00:00');
            });
		</script>
		<p class="lead">Adicionar Voluntário à Escala</p>
		<h5 th:text="|Data: ${escalaIndex.culto.date}|"></h5>
		<h5 th:text="|Hora: ${escalaIndex.culto.hour}|"></h5>
		<hr class="my-4">
		<h6 th:text="|Nome: ${voluntario.name}|"></h6>
		<hr class="my-4">
		<form action="#"
			  th:action="@{/escala/add-voluntario-ministerio-escala/{idEscala}/{idVoluntario}(idEscala=${escala.id},idVoluntario=${voluntario.id})}"
			  th:object="${escalaVoluntario.ministerio}" method="post">
			<div class="form-group">
				<label for="date">Escolher Ministério</label>
				<select class="form-control" th:field="*{id}">
					<option
							th:each="min : ${ministerios}"
							th:value="${min.id}"
							th:text="${min.name}">
					</option>
				</select>
			</div>
			<br>
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Adicionar Voluntário">
				<a class="btn btn-danger" th:href="@{/escala/{id}/list-voluntarios(id=${escala.id})}">Voltar</a>
			</div>
		</form>
	</main>
</body>
</html>