<html th:replace="~{base :: layout (~{:: main})}" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
	<main>
		<script type="text/javascript" class="init">
			$(document).ready(function(){
                $('#connect-bracelet').DataTable(
                        {
                            "aoColumns": [
                                null,
                                null,
                                null,
                                null
                            ],
                            language: {
                                url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
                            }
                        }
                );
                $('#phone').mask('(00) 00000-0000');
                $('#date').mask('00/00/0000');
                $('#hour').mask('00:00');
            });
		</script>
		<a class="btn btn-success" th:href="@{/escala/{id}/list-voluntarios(id=${escala.id})}">Adicionar Voluntário Cadastrado</a>
		<a class="btn btn-danger" th:href="@{/escala/index}">Voltar</a>
		<br>
		<br>
		<table id="connect-bracelet" class="table table-striped" style="width:100%">
			<thead>
			<tr>
				<th>Voluntário</th>
				<th>Ministério</th>
				<th>Presença</th>
				<th>Ações</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="voluntarios : ${escala.escalaVoluntarioList}">
				<td th:text="${voluntarios.voluntario.name}"></td>
				<td th:text="${voluntarios.ministerio.name}"></td>
				<td class="pendente" style="color: #ffc107;" th:if="${voluntarios.checkin == false}">PENDENTE</td>
				<td class="confirmado" style="color: #146c43;" th:if="${voluntarios.checkin == true}">CONFIRMADO</td>
				<td>
					<a class="btn btn-success btn-sm" th:if="${voluntarios.checkin == false}" th:href="@{/escala/fazerCheckin/{idEscala}/{idVoluntario}(idEscala=${escala.id},idVoluntario=${voluntarios.voluntario.id})}">Fazer Check-in</a>
					<a class="btn btn-warning btn-sm" th:if="${voluntarios.checkin == true}" th:href="@{/escala/removerCheckin/{idEscala}/{idVoluntario}(idEscala=${escala.id},idVoluntario=${voluntarios.voluntario.id})}">Desfazer Check-in</a>
					<a class="btn btn-danger btn-sm" th:href="@{/escala/voluntario/delete/{idEscala}/{idVoluntario}(idEscala=${escala.id},idVoluntario=${voluntarios.voluntario.id})}">Remover da Escala</a></td>
			</tr>
			</tbody>
		</table>
	</main>
</body>
</html>