<html th:replace="~{base :: layout (~{:: main})}" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
	<main>
		<script type="text/javascript" class="init">
			$(document).ready(function () {
            $('#escalas').dataTable(
            {
                "aoColumns": [
                    { "sType": "date-uk" },
                    null,
                    null
                ],
                "aaSorting": [ [ 0, "desc" ], [ 1, "desc" ] ],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
                }
            }
            );
            });
		</script>
		<p class="lead">Lista de Escalas</p>
		<div th:switch="${escalas}">
			<p>
				<a class="btn btn-primary" href="/escala/signup">Criar nova Escala</a>
			</p>
			<h2 th:case="null">Sem escalas no momento</h2>
			<div th:case="*">
				<table id="escalas" class="table table-striped" style="width:100%">
					<thead>
					<tr>
						<th>Data</th>
						<th>Hora</th>
						<th>Ações</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="escala : ${escalas}">
						<td th:text="${escala.culto.date}"></td>
						<td th:text="${escala.culto.hour}"></td>
						<td>
							<a class="btn btn-success btn-sm" th:href="@{/escala/details/{id}(id=${escala.id})}">Detalhes</a>
							<a class="btn btn-warning btn-sm" th:href="@{/escala/edit/{id}(id=${escala.id})}">Editar</a>
							<!-- 								<a class="btn btn-danger btn-sm" th:href="@{/escala/delete/{id}(id=${escala.id})}">Excluir</a> -->
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>
</html>