<html th:replace="~{base :: layout (~{:: main})}">
<body>
	<main>
		<script type="text/javascript" class="init">
			$(document).ready(function(){
                $('#voluntarios').DataTable(
                        {
                            "aoColumns": [
                                null,
                                null,
                                null
                            ],
                            language: {
                                url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
                            }
                        }
                );
                $('#phone').mask('(00) 00000-0000');
                $('#date').mask('00/00/0000');
                $('#hour').mask('00:00');
            });
		</script>
		<p class="lead">Adicionar Voluntário à Escala</p>
		<a class="btn btn-danger" th:href="@{/escala/details/{id}(id=${escala.id})}">Voltar</a>
		<br>
		<br>
		<h5 th:text="|Data: ${escalaIndex.culto.date}|"></h5>
		<h5 th:text="|Hora: ${escalaIndex.culto.hour}|"></h5>
		<hr class="my-4">
		<table id="voluntarios" class="table table-striped" style="width:100%">
			<thead>
			<tr>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Ações</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="voluntario : ${voluntarios}">
				<td th:text="${voluntario.name}"></td>
				<td th:text="${voluntario.phone}"></td>
				<td><a class="btn btn-success btn-sm" th:href="@{/escala/{idEscala}/add-voluntario/{idVoluntario}(idEscala=${escala.id},idVoluntario=${voluntario.id})}">Adicionar</a></td>
			</tr>
			</tbody>
		</table>
	</main>
</body>
</html>