<html th:replace="~{base :: layout (~{:: main})}">
<body>
	<main>
		<script type="text/javascript" class="init">
			$(document).ready(function(){
                $('#phone').mask('(00) 00000-0000');
                $('#birthDate').mask('00/00/0000');
            });
		</script>
		<p class="lead">Cadastro de Ministérios</p>
		<form action="#" th:action="@{/ministerio/addministerio}" th:object="${ministerio}" method="post">
			<div class="form-group">
				<label for="name">Nome</label>
				<input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Nome do Ministerio" required>
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			</div>
			<br>
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Adicionar Ministerio">
				<a class="btn btn-danger" th:href="@{/ministerio/index}">Voltar</a>
			</div>
		</form>
	</main>
</body>
</html>