<html th:replace="~{base :: layout (~{:: main})}">
<body>
	<main>
		<script type="text/javascript" class="init">
			$(document).ready(function () {
            $('#ministerios').DataTable(
                    {
                        "aoColumns": [
                            null,
                            null
                        ],
                        language: {
                            url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
                        }
                    });
            });
		</script>
		<p class="lead">Lista de Ministérios</p>
		<div th:switch="${ministerios}">
			<p>
				<a class="btn btn-primary" href="/ministerio/signup">Cadastrar novo Ministerio</a>
			</p>
			<h2 th:case="null">Nenhum ministério</h2>
			<div th:case="*">
				<table id="ministerios" class="table table-striped" style="width:100%">
					<thead>
					<tr>
						<th>Nome</th>
						<th>Ações</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="ministerio : ${ministerios}">
						<td th:text="${ministerio.name}"></td>
						<td><a class="btn btn-warning btn-sm" th:href="@{/ministerio/edit/{id}(id=${ministerio.id})}">Editar</a>  <a class="btn btn-danger btn-sm" th:href="@{/ministerio/delete/{id}(id=${ministerio.id})}">Excluir</a></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>
</html>