<html th:replace="~{base :: layout (~{:: main})}">
<body>
	<main>
		<script type="text/javascript" class="init">
			$(document).ready(function(){
                $('#phone').mask('(00) 00000-0000');
                $('#birthDate').mask('00/00/0000');
            });
		</script>
		<p class="lead">Atualizar Ministerio</p>
		<form action="#" th:action="@{/ministerio/update/{id}(id=${ministerio.id})}" th:object="${ministerio}" method="post">
			<div class="form-group">
				<label for="name">Nome</label>
				<input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Nome do Ministerio">
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			</div>
			<br>
			<div class="form-group">
				<input type="submit" class="btn btn-warning" value="Atualizar Cadastro">
				<a class="btn btn-primary" th:href="@{/ministerio/index}">Voltar</a>
			</div>
		</form>
	</main>
</body>
</html>