<html th:replace="~{base :: layout (~{:: main})}">
<body>
	<main>
		<script type="text/javascript" class="init">
			$(document).ready(function () {
            $('#users').DataTable(
                    {
                        "aoColumns": [
                            null,
                           	null,
                            null,
                            null
                        ],
                        language: {
                            url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
                        }
                    });
            });
		</script>
		<p class="lead">Lista de Usuários do Sistema</p>
		<div th:switch="${users}">
			<p>
				<a class="btn btn-primary" href="/user/signup">Adicionar novo usuário</a>
			</p>
			<h2 th:case="null">No users yet!</h2>
			<div th:case="*">
				<table id="users" class="table table-striped" style="width:100%">
					<thead>
					<tr>
						<th>Nome</th>
						<th>Email</th>
						<th>Role</th>
						<th>Ações</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.name}"></td>
						<td th:text="${user.login}"></td>
						<td th:text="${user.role}"></td>
						<td>
							<a class="btn btn-warning btn-sm" th:href="@{/user/edit/{id}(id=${user.id})}">Edit</a>
							<a
									th:href="@{/user/delete/{id}(id=${user.id})}"
									class="btn btn-danger btn-sm"
									th:data-confirm-delete="|Deseja realmente realizar a exclusão do usuário ${user.login}?|"
									onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
							>
								Delete
							</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>
</html>