<html th:replace="~{base :: layout (~{:: main})}">
<body>
<main>
	<p class="lead">Editar usuário</p>
	<form action="#" th:action="@{/user/update}" th:object="${user}" method="post">
		<input type="hidden" th:field="*{id}" id="id" name="id">
		<div class="form-group">
			<label for="name">Nome</label>
			<input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Nome" required>
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		</div>
		<br>
		<div class="form-group">
			<label for="email">Email</label>
			<input class="form-control" type="email" th:field="*{login}" id="login" placeholder="Email" required>
			<span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
		</div>
		<br>
		<div class="form-group">
			<label for="email">Senha</label>
			<input class="form-control" type="password" th:field="*{password}" id="password" required>
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
		</div>
		<br>
		<div class="form-group">
			<label for="status">Tipo de Usuário</label>
			<select class="form-select" th:field="*{role}" id="role">
				<option th:each="roleOpt : ${T(com.lagoinha.connect.model.user.UserRole).values()}"
						th:value="${roleOpt}" th:utext="${roleOpt}"></option>
			</select>
		</div>
		<br>
		<!--			<div class="form-group">-->
		<!--				<label for="status">Permissão do Usuário</label>-->
		<!--				<select class="form-select" multiple th:field="*{roles}" id="roles">-->
		<!--					<option th:each="rolesOpt : ${T(com.lagoinha.connect.model.auth.Roles).values()}"-->
		<!--							th:value="${rolesOpt}" th:utext="${rolesOpt}"></option>-->
		<!--				</select>-->
		<!--			</div>-->
		<!--			<br>-->
		<div class="form-group">
			<input class="btn btn-primary" type="submit" value="Atualizar">
			<a class="btn btn-danger" th:href="@{/user/index}">Voltar</a>
		</div>
	</form>
</main>
</body>
</html>