<html th:replace="~{base :: layout (~{:: main})}">
<body>
	<main>
		<script type="text/javascript" class="init">
			$(document).ready(function () {
            $('#voluntarios').DataTable(
                    {
                        "aoColumns": [
                            null,
                            null,
                            null
                        ],
                        language: {
                            url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
                        }
                    });
            });
		</script>
		<p class="lead">Lista de Voluntários</p>
		<div th:switch="${voluntarios}">
			<p>
				<a class="btn btn-primary" href="/voluntario/signup">Cadastrar novo Voluntário</a>
			</p>
			<h2 th:case="null">No voluntarios yet!</h2>
			<div th:case="*">
				<table id="voluntarios" class="table table-striped" style="width:100%">
					<thead>
					<tr>
						<th>Nome</th>
						<th>Telefone</th>
						<th>Ações</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="voluntario : ${voluntarios}">
						<td th:text="${voluntario.name}"></td>
						<td th:text="${voluntario.phone}"></td>
						<td><a class="btn btn-warning btn-sm" th:href="@{/voluntario/edit/{id}(id=${voluntario.id})}">Editar</a>  <a class="btn btn-danger btn-sm" th:href="@{/voluntario/delete/{id}(id=${voluntario.id})}">Excluir</a></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>
</html>