<html th:replace="~{base :: layout (~{:: main})}">
	<body>
		<main>
			<p class="lead" th:text="|Olá ${name}! Seja bem-vindo ao Kids da Igreja Recomeçar|"></p>
			<h6>Para sair do sistema <a th:href="@{/sair}">CLIQUE AQUI</a></h6>
			<div class="card">
				<h4 class="card-header">Usuários</h4>
				<div class="card-body">
					<h5 class="card-title">Gestão de usuários do Sistema</h5>
					<p class="card-text">Listar, cadastrar, editar ou deletar usuários do sistema.</p>
					<a href="/user/index" class="btn btn-primary">Enter</a>
				</div>
			</div>
			<br>
			<div class="card">
				<h4 class="card-header">Kids</h4>
				<div class="card-body">
					<h5 class="card-title">Cadastro de Crianças</h5>
					<p class="card-text">Listar, cadastrar, editar ou deletar crianças.</p>
					<a href="/connect/index" class="btn btn-primary">Acessar</a>
				</div>
			</div>
			<br>
			<div class="card">
				<h4 class="card-header">Cultos</h4>
				<div class="card-body">
					<h5 class="card-title">Gestão de Cultos</h5>
					<p class="card-text">Criar cultos, inserir crianças e colocar as pulseiras.</p>
					<a href="/worship/index" class="btn btn-primary">Acessar</a>
				</div>
			</div>
			<br>
			<!-- 			<div class="card"> -->
			<!-- 				<h4 class="card-header">Voluntários</h4> -->
			<!-- 				<div class="card-body"> -->
			<!-- 					<h5 class="card-title">Gestão de Voluntários</h5> -->
			<!-- 			    	<p class="card-text">Listar, cadastrar, editar e deletar voluntários do connect</p> -->
			<!-- 			    	<a href="/voluntario/index" class="btn btn-primary">Acessar</a> -->
			<!-- 				</div> -->
			<!-- 			</div> -->
			<!-- 			<br> -->
			<!-- 			<div class="card"> -->
			<!-- 				<h4 class="card-header">Ministerios</h4> -->
			<!-- 				<div class="card-body"> -->
			<!-- 					<h5 class="card-title">Gestão de Ministerios</h5> -->
			<!-- 			    	<p class="card-text">Listar, cadastrar, editar e deletar ministerios do connect</p> -->
			<!-- 			    	<a href="/ministerio/index" class="btn btn-primary">Acessar</a> -->
			<!-- 				</div> -->
			<!-- 			</div> -->
			<!-- 			<br> -->
			<!-- 			<div class="card"> -->
			<!-- 				<h4 class="card-header">Escalas</h4> -->
			<!-- 				<div class="card-body"> -->
			<!-- 					<h5 class="card-title">Gestão de Escalas</h5> -->
			<!-- 			    	<p class="card-text">Listar, cadastrar, editar e deletar escalas do Kids</p> -->
			<!-- 			    	<a href="/escala/index" class="btn btn-primary">Acessar</a> -->
			<!-- 				</div> -->
			<!-- 			</div> -->
		</main>
	</body>
</html>