<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br" th:replace="~{base :: layout (~{:: main})}">
<body>
	<main>
		<script type="text/javascript" class="init">
			$(document).ready(function () {
            $('#connects').DataTable(
                    {
                        "aoColumns": [
                            null,
                            { "sType": "date-uk" },
                            null,
                            null
                        ],
                        language: {
                            url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
                        }
                    });
            });
		</script>
		<p class="lead">Lista de Recomeços Cadastrados</p>
		<div th:switch="${connects}">
			<p>
				<a class="btn btn-primary" href="/connect/signup/recomeco">Cadastrar novo Recomeço</a>
			</p>
			<h2 th:case="null">Sem pessoas cadastradas!</h2>
			<div th:case="*">
				<table id="connects" class="table table-striped" style="width:100%">
					<thead>
					<tr>
						<th>Nome</th>
						<th>Data de Nascimento</th>
						<th>Telefone</th>
						<th>Ações</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="connect : ${connects}">
						<td th:text="${connect.name}"></td>
						<td th:text="${connect.birthDate}"></td>
						<td th:text="${connect.phone}"></td>
						<td>
							<a class="btn btn-warning btn-sm" th:href="@{/connect/edit/{id}(id=${connect.id})}">Editar</a>
							<a
									th:href="@{/connect/delete/{id}(id=${connect.id})}"
									class="btn btn-danger btn-sm"
									th:data-confirm-delete="|Deseja realmente realizar a exclusão da criança ${connect.name}?|"
									onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
							>
								Excluir
							</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>
</html>