<html th:replace="~{base :: layout (~{:: main})}">
<body>
<main>
	<script type="text/javascript" class="init">
		$(document).ready(function(){
			$('#phone').mask('(00) 00000-0000');
		    $('#date').mask('00/00/0000');
		    $('#hour').mask('00:00');
		});
	</script>
	<p class="lead">Adicionar Kids ao Culto</p>

	<h5 th:text="|Data: ${worship.date} ${worship.hour}|"></h5>
	<h5 th:text="|Nome: ${connect.name}|"></h5>
	<h5 th:text="|Responsável: ${connect.responsible}|"></h5>
	<hr class="my-4">
	<form action="#" th:action="@{/worship/add-connect-worship}" th:object="${worshipConnect}" method="post">
		<div class="form-group">
			<label for="date">Número da Pulseira</label>
			<input class="form-control" type="number" th:field="*{braceletNumber}" id="number" placeholder="0000" required>
		</div>
		<input type="hidden" th:value="${worship.id}" name="worshipId" />
		<input type="hidden" th:value="${connect.id}" name="connectId" />
		<br>
		<div class="form-group">
			<input class="btn btn-primary" type="submit" value="Adicionar Kids ao Culto">
			<a class="btn btn-danger" th:href="@{/worship/{id}/list-connect(id=${worship.id})}">Voltar</a>
		</div>
	</form>
</main>
</body>
</html>