<html th:replace="~{base :: layout (~{:: main})}">
<head>
<body>
	<main>
		<script type="text/javascript" class="init">
			$(document).ready(function () {
            $('#worships').dataTable(
            {
                "aoColumns": [
                    { "sType": "date-uk" },
                    null,
                    null,
                    null,
                    null
                ],
                "aaSorting": [ [ 0, "desc" ], [ 1, "desc" ], [ 2, "desc" ] ],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
                }
            }
            );
            });
		</script>
		<p class="lead">Lista de Cultos</p>
		<div th:switch="${worships}">
			<p>
				<a class="btn btn-primary" href="/worship/signup">Criar um novo Culto</a>
				<a class="btn btn-danger" href="/worship/closeAll">Encerrar Cultos Abertos</a>
			</p>
			<h2 th:case="null">No worships yet!</h2>
			<div th:case="*">
				<table id="worships" class="table table-striped" style="width:100%">
					<thead>
					<tr>
						<th>Data</th>
						<th>Hora</th>
						<th>Descricao</th>
						<th>Status</th>
						<th>Ações</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="worship : ${worships}">
						<td th:text="${worship.date}"></td>
						<td th:text="${worship.hour}"></td>
						<td th:text="${worship.descricao}"></td>
						<td th:text="${worship.status}"></td>
						<td>
							<a class="btn btn-success btn-sm" th:href="@{/worship/details/{id}(id=${worship.id})}">Detalhes</a>
							<a class="btn btn-warning btn-sm" th:href="@{/worship/edit/{id}(id=${worship.id})}">Editar Cadastro</a>
							<a
									th:if="${worship.status == T(com.lagoinha.connect.model.worship.Status).EXCLUIR}" th:href="@{/worship/delete/{id}(id=${worship.id})}"
									class="btn btn-danger btn-sm"
									th:data-confirm-delete="|Deseja realmente realizar a exclusão da criança ${connect.name}?|"
									onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
							>
								Excluir
							</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>
</html>