<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br" th:replace="~{base :: layout (~{:: main})}">
<body>
	<main>
		<script type="text/javascript" class="init">
			$(document).ready(function(){
                $('#connects').DataTable();
                $('#phone').mask('(00) 00000-0000');
                $('#date').mask('00/00/0000');
                $('#hour').mask('00:00');
            });
		</script>
		<p class="lead">Adicionar Kids ao Culto</p>
		<a class="btn btn-danger" th:href="@{/worship/details/{id}(id=${worship.id})}">Voltar</a>
		<br>
		<br>
		<h5 th:text="|Data: ${worship.date}|"></h5>
		<h5 th:text="|Hora: ${worship.hour}|"></h5>
		<h5 th:text="|Descrição: ${worship.descricao}|"></h5>
		<h5 th:text="|Status: ${worship.status}|"></h5>
		<table id="connects" class="table table-striped" style="width:100%">
			<thead>
			<tr>
				<th>Nome</th>
				<th>Data de Nascimento</th>
				<th>Responsável</th>
				<th>Ações</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="connect : ${connects}">
				<td th:text="${connect.name}"></td>
				<td th:text="${connect.birthDate}"></td>
				<td th:text="${connect.responsible}"></td>
				<td><a class="btn btn-success btn-sm" th:href="@{/worship/{idCultos}/add-connect/{idConnect}(idCultos=${worship.id},idConnect=${connect.id})}">Adicionar ao Culto</a></td>
			</tr>
			</tbody>
		</table>
	</main>
</body>
</html>